
body {
    font-family: 'Caveat', cursive;
    background-color: #1B1209;
    color: #8C7561;
}

table {
    border-collapse: collapse;
}

td {
    background-color: #66666e;
    height: 2.1em;
    width: 2.1em;
}

td:hover {
    background-color: #7a7d7d;
    cursor: pointer;
}

#buttons {
    padding-top: 10px;
    padding-left: 200px;
}

div {
    display: inline-block;
}

#game {
    float:none;
    margin: 10px 10px;
}

.info {
    float: left;
    width: 30%;
    font-size: 30px;
    margin: 0 10px 0 10px;
}

.score {
    float: right;
    margin: 0 200px 0 10px;
}

.treasure {
    background-image: url(images/gem.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4CAF50;
}

.noTreasure {
    background-image: url(images/no-treasure.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1B1209;
}

.notClicked {
    background-color: #61584A;
}

header {
    background-image: url("images/treasure-map.jpg");
    background-size: 100% 228%;
    height: 250px;
    padding: 20px;
}

h1 {
    color: #EF7A02;
    text-align: center;
    font-size: 60px;
    margin: 0 0 0 0;
}

h2 {
    font-size: 38px;   
}

#hiScore {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.image {
    height: 100px;
    width: 100px;
    padding-left: 70px;
}
